<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<li th:fragment="item" class="list-group-item"
		th:each="component : ${componentList}">
		<button onclick="toogleButtonClass(this)"
			th:if="${component.item.blueprint != null}" class="btn btn-primary toggledButton"
			type="button" data-toggle="collapse"
			th:attr="data-target='#' + ${generatedId}"
			th:with="generatedId=${parentId} + '-' + ${component.id.blueprintId} + '-' + ${component.id.itemId}">
			[[${component.item.name}]] x[[${component.count}]]</button>
		<div class="alert alert-primary"
			th:if="${component.item.blueprint == null}">[[${component.item.name}]]
			x[[${component.count}]]</div>
		<ul th:id="${generatedId}" class="list-group collapse"
			th:if="${component.item.blueprint != null}"
			th:insert="blueprints/include/itemFragment :: item"
			th:with="componentList=${component.item.blueprint.components},generatedId=${parentId} + '-' + ${component.id.blueprintId} + '-' + ${component.id.itemId}, parentId=${generatedId}">
		</ul>
	</li>
</body>
</html>